In [21]:
import pandas as pd
import seaborn as sns
import os
import google.generativeai as genai

c:\Users\DELL\AppData\Local\Programs\Python\Python313\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
C:\Users\DELL\AppData\Local\Temp\ipykernel_14880\742903401.py:4: FutureWarning:

All support for the `google.generativeai` package has ended. It will no longer be receiving
updates or bug fixes. Please switch to the `google.genai` package as soon as possible.
See README for more details:

https://github.com/google-gemini/deprecated-generative-ai-python/blob/main/README.md

  import google.generativeai as genai

In [2]:
data = sns.load_dataset('tips')

In [ ]:
data.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [24]:
# Extract Row from excel and put them serially in text 

context = ''
for idx,row in data.iterrows():
    row_text = '|'.join(f"Index : {idx} {col}:{row[col]}" for col in data.columns if pd.notna(row[col]))
    context = context + row_text +'\n'

In [25]:
#LLm Model
gemini_key = os.getenv('TestProject1')
genai.configure(api_key=gemini_key)
model = genai.GenerativeModel('gemini-2.5-flash-lite')

In [26]:
prompt = 'What is the maximum tip paid by female?'

augmented_prompt = f'''
<Role> You are an helpful assistant uing RAG.
<Goal> Answer the question asked by the user . Here is the question: {prompt}
<Context> Here are th documents retrivered from the vetcor database to suport the answer which you have to generate {context}
'''

In [27]:
respsone = model.generate_content(augmented_prompt)
print(respsone.text)

The maximum tip paid by a female is 10.0.